#################################################################
#								#
# Copyright (c) 2018-2025 YottaDB LLC and/or its subsidiaries.	#
# All rights reserved.						#
#								#
#	This source code contains the intellectual property	#
#	of its copyright holder(s), and is made available	#
#	under a license.  If you do not know the terms of	#
#	the license, please stop and do not read further.	#
#								#
#################################################################

# Ignore any executables that have been built (i.e. files without an extension).
# Works by ignoring everything except directories and files with a dot.
# NOTE: Must be first in the .gitignore file
# From recipe here: https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
*
!*/
!*.*

*~
*.dat
*.gld
**/#*#
*.o
go.work
go.work.sum
v2/coverage
